h1{
    border: 2px solid red;
    background-color: tomato;
    color: white;
    width: 200px;
    height: 50px;
    transition: 3s;
}
h1:hover{
    transform: translateX(500px);
    border-radius: 50%;
}